.form {
    text-align: right;
}

.button {
    font: inherit;
    cursor: pointer;
    background-color: #aa2727;
    border: 1px solid #aa2727;
    /* background-color: #8a2b06; */
    /* border: 1px solid #8a2b06; */
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    min-width: 10rem;
    height:2rem;
}

.button:hover,
.button:active {
    /* background-color: #641e03;
    border-color: #641e03; */
    background-color: #f35b1a;
    border-color: #f35b1a;
}